#lsoa_map{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.leaflet-tile-pane {
  filter: grayscale(1.0);
}
.leaflet-overlay-pane {
  mix-blend-mode: multiply;
}
.leaflet-overlay-pane path{
  mix-blend-mode: multiply;
}

body{
  font-family: 'Titillium Web', sans-serif;
}

a:link, 
a:active, 
a:visited {
  text-decoration: none;
}

#left_hand_controls, #right_hand_controls{
  position: fixed;
  padding: 1em;
  background-color: rgba(255,255,255,0.8);
  border-radius: 0.5em;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

#left_hand_controls{
  top: 0.5em;
  left: 0.5em;
  max-width: 25em;
}

a#download_matrix:link, 
a#download_matrix:active, 
a#download_matrix:visited {
  color:black;
  text-decoration: none;
  text-align: center;
  display: block;
  background-color: white;
  border-radius: 0.3em;
  margin: 1em;
}

#right_hand_controls{
  top: 0.5em;
  right: 0.5em;
}

#travel_time_scale_entries div{
  text-align: center;
  padding: 0em 1em;
}

